.drawer1{
  width: 400px;
}
.menu1{
  margin-top:15px;
  display: flex;
  justify-content: space-around;

}
.box1{
  width: 45%;
  height: 90px;
  /* background-color: red; */
  border-radius:9px;
  margin-bottom: 15px;
}
.optioncontainer{
  margin-top:15px;
  display: flex;
  flex-wrap: wrap;
  justify-content:space-around;
}
